.rejected-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffe6e6;
    text-align: center;
    padding: 20px;
  }
  
  .rejected-title {
    font-size: 2rem;
    color: #d9534f;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .rejected-message {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 20px;
  }

  .back-button {
    margin-left: 7px;
  }
  
  /* .back-button {
    background-color: #d9534f;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #c9302c;
  } */
  